

    .co2-cont-bg{
      background-image: url(../img/Fondo.png);
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important;
    }

    .parallax-container {
      height: auto;
    }

		.itemPlace{
			height: 290px;
		}

    .brand-logo{
      font-family: 'co2font1';
      color: #2ECC71 !important;
    }

    .brand-img{
      position: relative;
      width: 40px;
      top: 10px;
    }

		.menu{
			background-color: #2C3E50;
		}
		.btnBKC{
			background-color: #2ECC71;
		}
		.btnBKC:hover{
			background-color: #218E4F;
		}
		nav ul li:hover,
		nav ul li.active{
			background-color: #2ECC71;
		}

    .co2-card{
      color: #000 !important;
    }

    .co2white{
      color: #fff !important;
    }

    .co2font1{
      font-family: 'co2font1' !important;
    }

    .co2font2{
      font-family: 'co2font2' !important;
    }

    .co2-card-icon{
      display: block !important;
      width: 100% !important;
      text-align: center !important;
      font-size: 120px !important;
      color: #3B3B3B !important;
      margin: 5px !important;
    }
    
    .co2-card-title{
      font-family: "co2font2" !important;
      font-size: 20px !important;
      display: block;
      color: #2ECC71 !important;
      font-weight: bolder !important;
      text-align: center !important;
    }

    .co2-card-description{
      color: #000 !important;
    }

    .co2-button{
      position: relative;
      text-align: center;
      border: solid 2px #fff;
      padding: 10px 0;
      border-radius: 5px;
      width: 100%;
    }

    .co2-signin-panel{
      padding: 0 !important;
    }

    .co2-signin-panel-title{
      background-color: #2ECC71;
      padding: 10px 0;
      color: #fff;
      margin: 0;
    }

    .co2-button-icon{
      position: relative;
      vertical-align: middle;
    }

    .co2-img-center{
      text-align: center;
    }

    .co2-feature-icon{
      display: inline-block !important;
      font-size: 35px !important;
      background-color: #2ECC71;
      padding: 5px;
      color: white !important;
      border-radius: 5px;
    }

    .co2-feature-title{
      font-family: "co2font2" !important;
      color: #2ECC71 !important;
      margin-bottom: none !important;
    }

    .co2-feature-description{
      font-family: "co2font2" !important;
      font-weight: bolder !important;
      color: #FFF !important;
      margin: 0 !important;
      line-height: 15px !important;
    }
    
    .row-color-bone{
      background-color: #f6f6f6;
    }

    .row-color-blue{
      background-color: #2C3E50;
    }

    .co2-dashboard{
      height: 100%;
      margin: 0;
    }

    .co2-panel-izq{
      height: 100%;
    }

    

    .co2-row{
      margin: 0;
      overflow: hidden;
    }

    .co2-row-title{
      color: #2C3E50 !important;
    }

    .co2-row-description{
      font-family: "co2font2" !important;
      font-weight: bolder !important;
      font-size: 18px;
      color: #2ECC71 !important;
    }

    .co2-author{
      text-align: center;
      font-family: "co2font2" !important;
      font-weight: bolder !important;
      font-size: 14px;
      color : #fff;
    }

    .co2-author-icon{
      font-size: 16px !important;
      top: 4px !important;
      position: relative !important;
    }

    .co2-color-blue{
      color: #2C3E50 !important;
    }

    .co2-color-white{
      color : #FFF !important;
    }

    .co2-color-red{
      color : #E94B4C !important;
    }

    .co2-row-img img{
      width: 100% !important;
    }

    .logo{
      
    }

    .logo a {
      text-align: center;
      height: auto!important;
      margin: 30px 0;
    }

    .logo a img {
      max-height: 120px;
    }

    .co2-side-nav{
      color: #fff;
    }

    .co2-side-nav li{
      padding: 0 !important;
    }

    .co2-side-nav li:hover{
      background-color: #2ECC71 !important;
    }

    .co2-side-nav .active{
      background-color: #2ECC71 !important;
    }

    .co2-footer{
      position: absolute !important;
      bottom: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      width: 100% !important;
    }

    .co2-tip-icon{
      width: auto !important; 
    }

    .co2-side-nav li a{
      color: #fff;
    }

		.inpBKC:focus:not([readonly]){
			border-bottom: 1px solid #2ECC71 !important;
    	box-shadow: 0 1px 0 0 #2ECC71 !important;
		}
		.inpBKC:focus:not([readonly]) + label{
			color: #2ECC71 !important;
		}

		.panel-login{
			padding: 20px 10px !important;
		}
		.addModalbtn{
			position: fixed;
    		bottom: 20px;
    		right: 20px;
		}
		.editModalbtn{
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			opacity: 0;
			-webkit-transition: ease-in-out, opacity .35s ease-in-out;
  			transition: ease-in-out, opacity .35s ease-in-out;
		}
		.landlordPlace:hover .editModalbtn{
			opacity: .3;
		}
		.editModalbtn:hover{
			opacity: 1 !important;
		}

		.landlordPlace{
			position: relative;
			border: solid 2px #BDBBBB;
		    border-radius: 5px;
		    margin: 10px 0;
		    padding: 10px;
		}

		#preloaderMapPlace,
		#preloaderEditPlaceMap,
    #preloaderAddRealestateMap{
			position: relative !important;
			top: 5px !important;
			width: 20px !important;
			height: 20px !important;
			display: none;
		}

		.active-PMP{
			display: inline-block !important;
		}

		#preloaderMapPlace > .spinner-layer,
		#preloaderEditPlaceMap > .spinner-layer,
    #preloaderAddRealestateMap > .spinner-layer{
			border-color: #FAFAFA !important;
		}

		.materialize-tags {
  background: transparent;
  border-bottom: 1px solid #999;
  display: inline-block;
  padding: 0 6px;
  margin-bottom: 10px;
  color: #444;
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  @media screen and (max-width: 600px) {
    .materialize-tags {
      margin-top: 8px; } }
  .materialize-tags.active {
    border-bottom-color: #26a69a;
    -webkit-box-shadow: 0 1px 0 0 #26a69a;
    -moz-box-shadow: 0 1px 0 0 #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
    outline: none; }
  .materialize-tags input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: auto !important;
    max-width: inherit; }
    .materialize-tags input::-moz-placeholder {
      color: #777;
      opacity: 1; }
    .materialize-tags input:-ms-input-placeholder {
      color: #777; }
    .materialize-tags input::-webkit-input-placeholder {
      color: #777; }
    .materialize-tags input:focus {
      border: none !important;
      box-shadow: none !important; }
  .materialize-tags .tt-hint {
    position: relative !important; }
  .materialize-tags .tt-input {
    position: absolute !important;
    left: 0;
    width: 100% !important; }
  .materialize-tags .tt-dropdown-menu {
    min-width: 200px;
    max-width: 100%;
    padding: 10px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35); }
    .materialize-tags .tt-dropdown-menu .tt-suggestion {
      line-height: 1.1rem !important;
      padding: 2px 10px !important; }
    .materialize-tags .tt-dropdown-menu .tt-cursor {
      background: deepskyblue;
      color: #ffffff; }

